.container-form {
    // padding-top: 30px;
    // padding-bottom: 20px;

    .cascading-right {
        margin-right: -50px;

        .card-body {
            width: 420px;
            margin: 0 auto;

            h2 {
                color: var(--text-primary);
            }

            form {
                position: relative;
                .form-outline {
                    position: relative;
                    input {
                        font-size: 1.6rem;
                    }

                    label {
                        font-size: 1.8rem;
                    }

                    .eye {
                        position: absolute;
                        top: 10px;
                        right: 20px;
                        font-size: 1.4rem;
                        color: var(--text-primary);
                        cursor: pointer;
                    }

                    .eye-see {
                        display: none;
                    }
                }
                .btn-login {
                    font-size: 1.6rem;
                    color: var(--white);
                    border: none;
                    background: var(--primary);
                }

                .login-more {
                    margin-top: 50px;
                }

                .link-register {
                    font-size: 1.6rem;
                    color: var(--text-primary);
                    text-decoration: underline !important;
                }
            }
        }
    }

    @media (max-width: 991.98px) {
        .cascading-right {
            margin-right: 0;
        }
    }
}
